* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    padding-top: 90px;
}
/*  */

.head {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 20px;
    height: 90px;
    background: #2c3e50;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.logo {
    text-transform: uppercase;
    line-height: 90px;
    float: left;
}

.check {
    visibility: hidden;
    z-index: -1111;
    position: absolute;
}

.menu {
    float: right;
    line-height: 90px
}

.menu  a{
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    transition: color .4s;
}

.show-menu-btn, .hide-menu-btn{
    transition: color .4s;
    cursor: pointer;
    display: none;
}

.show-menu-btn i, .hide-menu-btn i{
    font-size: 30px;
}


.show-menu-btn {
    float: right;
}

.show-menu-btn  i {
    line-height: 90px;
}



.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color:#d35400;
}


/*  */
.content {
    padding: 0px 20px;
    text-align: center;
}

.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0px;
}

.content p {
    padding-top: 10px;
    text-align: justify;
}

/*  */
@media screen and (max-width: 800px) {
    .show-menu-btn,.hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0px;
        text-align: center;
        padding: 80px 0px;
        line-height: normal;
        transition: right .4s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px
    }
    .check:checked ~ .menu {
        right: 0px;
    }
}